<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/admin/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__PUBLIC__/admin/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="__PUBLIC__/admin/css/lines.css" rel='stylesheet' type='text/css' />
<link href="__PUBLIC__/admin/css/font-awesome.css" rel="stylesheet"> 
<!-- jQuery -->
<script src="__PUBLIC__/admin/js/jquery.min.js"></script>
<!-- Nav CSS -->
<link href="__PUBLIC__/admin/css/custom.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__PUBLIC__/admin/js/metisMenu.min.js"></script>
<script src="__PUBLIC__/admin/js/custom.js"></script>
<!-- Graph JavaScript -->
<script src="__PUBLIC__/admin/js/d3.v3.js"></script>
<script src="__PUBLIC__/admin/js/rickshaw.js"></script>
<script src="__PUBLIC__/admin/js/calendar/laydate.js"></script>
<style>
	#page-wrapper .top{margin-top: 0px;}
	#page-wrapper .color{background: #F7F7F9;color:#06D995;text-align: center;}
	#page-wrapper .color h2{font-size: 30px;line-height: 13px;}
	.nav-tabs a{color:#06D995;}
	#page{text-align: center;}
	#page a{padding:5px;}
	#page span{padding:5px;}
</style>

