<nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{:U('admin/index/index')}">琯琯后台管理系统</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-nav navbar-right">
	    <li class="dropdown">
    		<a href="#" class="dropdown-toggle avatar" data-toggle="dropdown"><img src="__PUBLIC__/common/images/headicon_30.png"><span class="badge"></span></a>
    		<ul class="dropdown-menu">
				<li class="dropdown-menu-header text-center">
					<strong>{$_SESSION['admin_user_nicename']}</strong>
				</li>
                <li class="m_2 text-center"><a href="{:U('setting/index')}"><i class="fa fa-cog"></i>网站配置</a></li>
                <li class="m_2 text-center"><a href="{:U('user/edit', array('id'=>$_SESSION['admin_user_id']))}"><i class="fa fa-user"></i>修改信息</a></li>
				<li class="m_2 text-center"><a href="{:U('login/logout')}"><i class="fa fa-sign-out"></i>退出</a></li>	
    		</ul>
  		</li>
	</ul>
	<!-- <form class="navbar-form navbar-right">
      <input type="text" class="form-control" value="搜索..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索...';}">
    </form> -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="{:U('admin/index/index')}"><i class="fa fa-home fa-fw nav_icon"></i>后台首页</a>
                </li>
                <li>
                    <a href="__ROOT__" target="_blank"><i class="fa fa-home fa-fw nav_icon"></i>网站首页</a>
                </li>
                <li>
                    <a href="{:U('setting/index')}"><i class="fa fa-cogs fa-fw nav_icon"></i>网站配置</a>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-user fa-fw nav_icon"></i>用户管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{:U('user/index')}">本站用户</a>
                        </li>
                        <li>
                            <a href="#">第三方用户</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-video-camera fa-fw nav_icon"></i>视频管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                         <li>
                            <a href="{:U('video/index')}">视频</a>
                        </li>
                        <li>
                            <a href="{:U('video/class_index')}">分类</a>
                        </li>
                        <li>
                            <a href="{:U('video/recycle_index')}">回收站</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-list-alt fa-fw nav_icon"></i>新闻管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{:U('news/index')}">新闻</a>
                        </li>
                        <li>
                            <a href="{:U('news/class_index')}">分类</a>
                        </li>
                        <li>
                            <a href="{:U('news/recycle_index')}">回收站</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-comments fa-fw nav_icon"></i>评论管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Media</a>
                        </li>
                        <li>
                            <a href="#">Login</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-star fa-fw nav_icon"></i>收藏管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Media</a>
                        </li>
                        <li>
                            <a href="#">Login</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-plus-circle fa-fw nav_icon"></i>其他扩展<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="media.html"><i class="fa fa-spinner fa-fw nav_icon"></i>轮播图<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
		                        <li>
		                            <a href="{:U('slide/index')}">轮播图管理</a>
		                        </li>
                                 <li>
                                    <a href="{:U('slide/class_index')}">轮播图分类</a>
                                </li>
		                    </ul>
                        </li>
                        <li>
                            <a href="{:U('link/index')}" ><i class="fa fa-chain fa-fw nav_icon"></i>友情链接管理</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <div class="clearfix"></div>
    <!-- /.navbar-static-side -->
</nav>