<div class="footer">
	<div class="footer-grids">
		<div class="footer-top">
			<div class="footer-top-nav">
				<ul>
					<php>
						$links = M('links')->where('link_status=1')->select();
					</php>
					<foreach name="links" item="vo"> 
						<li><a href="{$vo.link_url}" target="{$vo.link_target}">{$vo.link_name}</a></li>
					</foreach>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script>
	// 短息验证码
	var countdown=60; 
	var obj=$("#mobile"); 
	function settime(obj) { 
	    if (countdown == 0) { 
	        obj.html("获取短信验证码"); 
	        countdown = 60; 
	        return;
	    } else { 
	        obj.html("重新发送(<span style='color:red;'>" + countdown + "</span>)"); 
	        countdown--; 
	    } 
		setTimeout(
			function(){
				settime(obj)
			},1000) 
		
	}

	$("#mobile").click(function(){
		var moblie = $(".signup .mobile").val();
		$.post(
			"{:U('login/send_code')}",
			 {mobile:moblie},
			 function(data){
			 	var arr_info = eval('('+data+')'); 
			 	if (arr_info['info'] == 'success') {
			 		console.log(arr_info['info']);
			 		settime(obj);
			 		$("#server_code").val(arr_info['code']);
			 		$("#server_mobile").val(arr_info['mobile']);
			 	} else {
			 		$("#mobile").text(data); 
			 	}
			 }
		);
	});

	var next = $("#yz");
	next.click(function(){
		var user_code = $("#user_code").val();
		var server_code = $("#server_code").val();
		if (user_code == server_code) {
			$("#user_code").val('验证成功,请点击继续');
			$("#next").css({'display':'block','width':'100'});
		} else {
			$("#user_code").val('验证失败,请重新验证');
		}
		});
</script>