<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Play Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap -->
<link href="__PUBLIC__/home/css/bootstrap.min.css" rel='stylesheet' type='text/css' media="all" />
<!-- //bootstrap -->
<link href="__PUBLIC__/home/css/dashboard.css" rel="stylesheet">
<!-- Custom Theme files -->
<link href="__PUBLIC__/home/css/style.css" rel='stylesheet' type='text/css' media="all" />
<script src="__PUBLIC__/home/js/jquery-1.11.1.min.js"></script>
<link href="__PUBLIC__/admin/css/font-awesome.css" rel="stylesheet"> 
<link href="__PUBLIC__/home/css/awesome/css/font-awesome.css" rel="stylesheet"> 
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.SuperSlide.2.1.1.js"></script>
