<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><h1><img src="__PUBLIC__/home/images/logo.png" alt="" /></h1></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
		<div class="top-search" >
			<form class="navbar-form navbar-right" action="{:U('search/search')}" method="post">
				<select name="class_name" id="" style="border:1px solid #ddd;">
					<if condition="$class_name">
						<option value="1" selected>新闻</option>
						<option value="0">视频</option>
					<else/>
						<option value="1">新闻</option>
						<option value="0" selected>视频</option>
					</if>
				</select>
				<input type="text" name="name" class="form-control" value="{$name}" placeholder="搜索..." style="width:84%;">
				<button type="button"class="btn btn-sm btn-info" style="float:right;margin-top:2px;"><a href="{:U('search/clear', array('class_name'=>$class_name))}" style="color:#fff;">清空</a></button>
				<input type="submit" value="" style="left:580px;">
				
			</form>
		</div>  
		<div class="header-top-right">
			<div class="file" style="margin-top:0px;background:#fff;">
				<php>
					if ($_SESSION['user_id']) {
						$user = M('users')->where("id=".$_SESSION['user_id'])->field('id, user_nicename, avatar, mobile')->find();
					}
				</php>
				<if condition="$_SESSION['user_id']">
					<a href="#" style="background:#fff;" >
						<if condition="$user['avatar']">
							<img src="__PUBLIC__/common/images/{$user['avatar']}" style="width:50px;height:50px;border-radius: 25px;" class="user_photo">
						<else/>
							<img src="__PUBLIC__/common/images/headicon_50.png" style="width:50px;height:50px;border-radius: 25px;" class="user_photo">
						</if>
					</a>
					<ul class="dropdown-menu pull-right user_center" style="top:65px;">
		               <li><a style="text-align:center;">
		               		<i class="fa fa-user fa-w">&nbsp;&nbsp;</i>
		              	<if condition="$user['user_nicename']">
							{$user['user_nicename']}
						<else/>
							{$user['mobile']}
						</if>
		               </a></li>
		               <li class="divider"></li>
		               <li  class="hover"><a style="text-align:center;" href="{:U('user/jbzl_index', array('id'=>$_SESSION['user_id']))}"><i class="fa fa-briefcase fa-w">&nbsp;&nbsp;</i>基本资料</a></li>
		               <li  class="hover"><a style="text-align:center;" href="{:U('user/txxg_index', array('id'=>$_SESSION['user_id']))}"><i class="fa fa-file-photo-o fa-w">&nbsp;&nbsp;</i>头像修改</a></li>
		               <li  class="hover"><a style="text-align:center;" href="{:U('user/mmxg_index', array('id'=>$_SESSION['user_id']))}"><i class="fa fa-archive fa-w">&nbsp;&nbsp;</i>密码修改</a></li>
		               <li  class="hover"><a style="text-align:center;" href="{:U('user/wdsc_index', array('id'=>$_SESSION['user_id']))}"><i class="fa fa-star fa-w">&nbsp;&nbsp;</i>我的收藏</a></li>
		               <li  class="hover"><a style="text-align:center;" href="{:U('user/wdpl_index', array('id'=>$_SESSION['user_id']))}"><i class="fa fa-comment fa-w">&nbsp;&nbsp;</i>我的评论</a></li>
		               <li class="divider"></li>
		               <li  class="hover"><a style="text-align:center;" href="{:U('login/logout')}"><i class="fa fa-sign-out"></i> &nbsp;退出</a></li>
	            	</ul>	
				</if>
				<style>
					.hover:hover{background: #21DDEE;color: #fff;}
				</style>
				<script>
					var user_center = $(".user_center");
					$(".user_photo").hover(
						function(){
							user_center.css('display', 'block');
						},
						function(){
							user_center.css('display', 'none');
						});
					$(".user_center").hover(
						function(){
							user_center.css('display', 'block');
						},
						function(){
							user_center.css('display', 'none');
						});
				</script>
			</div>	
			<div class="signin">
				<if condition="!$_SESSION['user_id']">
					<a href="#small-dialog2" class="play-icon popup-with-zoom-anim">注 册</a>
				</if>
				<!-- pop-up-box -->
				<script type="text/javascript" src="__PUBLIC__/home/js/modernizr.custom.min.js"></script>    
				<link href="__PUBLIC__/home/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
				<script src="__PUBLIC__/home/js/jquery.magnific-popup.js" type="text/javascript"></script>
				<!--//pop-up-box -->
				<div id="small-dialog2" class="mfp-hide">
					<h3>注册账户</h3> 
					<div class="social-sits">
						<div class="facebook-button">
							<a href="#">微信</a>
						</div>
						<div class="chrome-button">
							<a href="#">新浪</a>
						</div>
						<div class="button-bottom">
							<p>已经拥有账号? <a href="#small-dialog" class="play-icon popup-with-zoom-anim">登录</a></p>
						</div>
					</div>
					<div class="signup">
						<form action="#" method="post">
							<input type="text" class="mobile" name="mobile"  placeholder="手机号注册"/>
							<!-- <a href="{:U('login/send_code', array('mobile'=>'1830341745') )}">发送</a> -->
							<a id="mobile" style="cursor:pointer;width:300px;">获取短信验证码</a>
							<input type="text" class="yx" name="email" placeholder="邮箱注册" pattern="\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
							<a id="email" style="cursor:pointer;width:300px;">获取邮箱验证码</a>
							<input type="text" name="user_code" id="user_code" placeholder="验证码" maxlength="4" pattern="[1-9]{4}"/>
							<input type="hidden" name="server_code" id="server_code"/>
							
							<a id="yz" style="padding:5px;background:#21DEEF;color:#fff;cursor:pointer;">检验验证码</a>
						</form>
						<div class="continue-button">
							<a href="#small-dialog3" id="next" class="hvr-shutter-out-horizontal play-icon popup-with-zoom-anim" style="display:none;text-algin:center;">继续</a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>	
				<div id="small-dialog3" class="mfp-hide">
					<h3>注册账户</h3> 
					<div class="social-sits">
						<div class="facebook-button">
							<a href="#">微信</a>
						</div>
						<div class="chrome-button">
							<a href="#">新浪</a>
						</div>
						<div class="button-bottom">
							<p>已经拥有账号? <a href="#small-dialog" class="play-icon popup-with-zoom-anim">登录</a></p>
						</div>
					</div>
					<div class="signup">
						<form action="{:U('login/reg')}" method="post">
							<!-- <input type="text" class="email" placeholder="Email" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email"/> -->
							<input type="hidden" name="mobile" id="server_mobile"/>
							<input type="password" placeholder="密码" name="user_pass1" required="required" maxlength="10"/>
							<input type="password" class="email" name="user_pass2"  placeholder="重复密码" required="required" maxlength="10"/>
							<input type="submit"  value="注册"/>
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>	
				<div id="small-dialog7" class="mfp-hide">
					<h3>注册账户</h3> 
					<div class="social-sits">
						<div class="facebook-button">
							<a href="#">微信</a>
						</div>
						<div class="chrome-button">
							<a href="#">新浪</a>
						</div>
						<div class="button-bottom">
							<p>已经拥有账号? <a href="#small-dialog" class="play-icon popup-with-zoom-anim">登录</a></p>
						</div>
					</div>
					<div class="signup">
						<form action="upload.html">
							<input type="text" class="email" placeholder="Email" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email"/>
							<input type="password" placeholder="Password" required="required" pattern=".{6,}" title="Minimum 6 characters required" autocomplete="off" />
							<input type="submit"  value="Sign In"/>
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div id="small-dialog8" class="mfp-hide" >
					<h3>Subscribe to our newsletters</h3> 
					<div class="signup subscribe-grid">
						<form>
							<input type="text" class="email" placeholder="Email" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email"/>
							<input type="submit"  value="Subscribe"/>
						</form>
					</div>
				</div>
				<div id="small-dialog4" class="mfp-hide">
					<h3>Feedback</h3> 
					<div class="feedback-grids">
						<div class="feedback-grid">
							<p>Suspendisse tristique magna ut urna pellentesque, ut egestas velit faucibus. Nullam mattis lectus ullamcorper dui dignissim, sit amet egestas orci ullamcorper.</p>
						</div>
						<div class="button-bottom">
							<p><a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign in</a> to get started.</p>
						</div>
					</div>
				</div>
				<div id="small-dialog5" class="mfp-hide">
					<h3>Help</h3> 
						<div class="help-grid">
							<p>Suspendisse tristique magna ut urna pellentesque, ut egestas velit faucibus. Nullam mattis lectus ullamcorper dui dignissim, sit amet egestas orci ullamcorper.</p>
						</div>
						<div class="help-grids">
							<div class="help-button-bottom">
								<p><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Feedback</a></p>
							</div>
							<div class="help-button-bottom">
								<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Lorem ipsum dolor sit amet</a></p>
							</div>
							<div class="help-button-bottom">
								<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Nunc vitae rutrum enim</a></p>
							</div>
							<div class="help-button-bottom">
								<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Mauris at volutpat leo</a></p>
							</div>
							<div class="help-button-bottom">
								<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Mauris vehicula rutrum velit</a></p>
							</div>
							<div class="help-button-bottom">
								<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Aliquam eget ante non orci fac</a></p>
							</div>
						</div>
				</div>
				<div id="small-dialog6" class="mfp-hide">
					<div class="video-information-text">
						<h4>Video information & settings</h4>
						<p>Suspendisse tristique magna ut urna pellentesque, ut egestas velit faucibus. Nullam mattis lectus ullamcorper dui dignissim, sit amet egestas orci ullamcorper.</p>
						<ol>
							<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
							<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
							<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
							<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
							<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
						</ol>
					</div>
				</div>
				<script>
					$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
					});
				</script>	
			</div>
			<div class="signin">
				<if condition="!$_SESSION['user_id']">
					<a href="#small-dialog" class="play-icon popup-with-zoom-anim">登 录</a>
				</if>
				<div id="small-dialog" class="mfp-hide">
					<h3>登 录</h3>
					<div class="social-sits">
						<div class="facebook-button">
							<a href="#">微信</a>
						</div>
						<div class="chrome-button">
							<a href="#">新浪</a>
						</div>
						<div class="button-bottom">
							<p>创建新账号? <a href="#small-dialog2" class="play-icon popup-with-zoom-anim">注册</a></p>
						</div>
					</div>
					<div class="signup">
						<form action="{:U('login/dologin')}" method="post">
							<input type="text" class="email" placeholder="邮箱/手机号" name="mobile" required/>
							<input type="password" placeholder="密码" required name="user_pass"/>
							<input type="submit"  value="登录"/>
						</form>
						<div class="forgot">
							<!-- <a href="#">忘记密码 ?</a> -->
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
    </div>
	<div class="clearfix"> </div>
  </div>
</nav>