<div class="col-sm-3 col-md-2 sidebar">
	<div class="top-navigation">
		<div class="t-menu">MENU</div>
		<div class="t-img">
			<img src="__PUBLIC__/home/images/lines.png" alt="" />
		</div>
		<div class="clearfix"> </div>
	</div>
	<div class="drop-navigation drop-navigation">
	  <ul class="nav nav-sidebar">
		<li><a href="__ROOT__" class="song-icon"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a></li>
		<li class=""><a href="#" class="menu1"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>视频<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a></li>
			<ul class="cl-effect-2">
				<php>
					$video_list = M('terms_video')->field('term_id, name')->select();
				</php>
				<foreach name="video_list" item="vo">
					<li><a href="{:U('video/index', array('term_id'=>$vo['term_id']) )}">{$vo.name}</a></li> 
				</foreach>                                            
			</ul>
			<!-- script-for-menu -->
			<script>
				$( "li a.menu1" ).click(function() {
					$( "ul.cl-effect-2" ).slideToggle( 300, function() {
					// Animation complete.
					});
				});
			</script>
			<li><a href="{:U('news/index')}" class="news-icon "><span class="glyphicon glyphicon-home glyphicon-blackboard" aria-hidden="true"></span>新闻</a></li>
	  </ul>
	  <!-- script-for-menu -->
		<script>
			$( ".top-navigation" ).click(function() {
				$( ".drop-navigation" ).slideToggle( 300, function() {
				// Animation complete.
				});
			});
		</script>
		<div class="side-bottom col-sm-12">
			<div class="copyright col-sm-12">
				<p style="text-align:center;width:100%;">Copyright &copy; [<a id="copyright" style="color:#fff;" href="https://user.qzone.qq.com/3407611283?ptlang=2052&source=friendlist">琯琯</a>]</p>
			</div>
			<style>
			 #copyright:hover{color:#21DDEE !important;}
			</style>
		</div>
	</div>
</div>